.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 .button  {
  width:'10%' ,
  height:50 ,
  fontWeight:'bold', 
  borderRadius:10 ,
  fontSize:18 ,
  backgroundColor:'#075e54',
  borderWidth:0,
  color:'#fff',
  margin:10
}
